extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")            
            .col-md-7 
                h1= pagina 

                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati voluptates maiores vel nobis recusandae accusamus iure ratione aspernatur, ullam placeat unde consectetur. Ducimus, non? Itaque minus voluptate dolorem officiis magni!

                p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur facilis exercitationem quidem doloribus non adipisci fuga quibusdam a cum maxime vitae autem error tempora numquam, dolore ab ipsa tempore! Quibusdam.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eligendi doloremque? Quae, dolor maiores. Natus tempore in praesentium, commodi quos, quam modi fugit reiciendis, quia mollitia tenetur suscipit consectetur libero?

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing.
                .col-md-4 
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4") 
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing.      
                .col-md-4 
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4") 
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing.      